{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<!-- <img src="/images/logo.svg" width="160"> -->
			<h1>Welcome</h1>
			<p>This will be your new favorite website.</p>
			
			<hr>
			{% if user and user.canAccessKeystone %}
				<p>
					<a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
				</p>
			{% else %}
				<p>We have created the ultimate knowledge compedium for aspiring tech entrepeneurs, college freshmen, and all the wanna-be's in between. <strong> I will speak freely on controversial topics. Discussion is welcome, trolling of any form is a distraction and successful people remove all unnecessary distractions from their lives. </strong> </p>
				<p>
					<a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a>
					
				</p>
			{% endif %}
			<hr>
			<p>
				Themes of this blog
				<ul>
					<li>
						Articles with sources cited, favoring research and academic articles
					</li>
					<li>
						Will not be sponsored by any commercial third party. My recommendations are mine alone.
					</li>
					<li>
						The goal of this blog is to help many men (and women) reach their health, financial and relationship goals.
					</li>
				</ul>
			</p>
		</div>
	</div>
{% endblock %}
